@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  background: linear-gradient(#92a8d1,#deeaee,#618685);
  font-family: sans-serif;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto',sans-serif;
}

/*Header*/

header .LogoTitre{
  display: flex;
  justify-content: space-between;

}
header img {
  height: 100px;
  width: 100px;

}
header h1{
  margin-right:42.5%;
  padding:0%;
  padding-top:25px;

}
header{
background-color : rgba(72,74,92,0.8);

}
header,ul {
  list-style-type: none;
  padding: 0;
  margin:0%;
  overflow: hidden;
  height: 100%;
  width:100%;
  position: sticky;
  top: 0px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

section{
  display: flex;
  justify-content: center;
  height: 10%;
}
.Article{
  width: 500px;
}
.Image,.Texte,.LirePlus{
  width: 500px;
  padding:0%
}

.Image{
  text-align: center;

}

.LirePlus{
  text-align: right;
}

.Titre{
  width: 25px;
  height: 10%;
  text-align: left;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: WhiteSmoke;
  color:black;
}
