section{
  width: 60%;
  margin: auto;
  background:rgba(0,0,0,0.8);
  box-shadow: 0 0 10px rgba(0,0,0,0.13);
  padding: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
  color:#c5ecfd;
}
section img{
  max-width: 100%;

}
.fichiers{
  display: flex;
  flex-wrap: wrap;
}
.fichiers .fichier{
display: block;
margin: 10px;

}

.fichiers .fichier img{
  height: 200px;

}
.fichiers .fichier p{
  text-align: center;
}

.event h1{
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
}

.event{
  color: white;
}
.event p{
  font-size: 20px;
  padding-left: 10px;
}

.event article .entete{
  width: 22%;
  border-right: 1px solid white;
}

.event article{
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  border-radius: 5px;
}

.imageSortie{
  text-align: center;
  
}

.imageSortie img{
  margin-bottom: 5%;
  width : 720pt;
  height : 480pt;

}




