
.listeSujet h1{
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}
.listeSujet h2{
margin-bottom: 20px;
}
.listeSujet{
  border: solid black 1px;
  width: 60%;
  margin: auto;
  background: rgba(228, 88, 7, 0.651);
  box-shadow : 0 0 10px rgba(0,0,0,0.13);
  padding: 30px;
  margin-top:  5%;
  margin-bottom:5%;
  border-radius: 5px;
  color: white;

}

.listeSujet a{
  border-top: solid #c5ecfd 1px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;

}

.listeSujet a:visited{
  text-decoration: inherit;
  color: inherit;
}

.listeSujet a:link{
  text-decoration: inherit;
  color: inherit;
}

.listeSujet a:hover{
  border-top: 1px solid red; 
  background-color: red;
}


.listeSujet aside{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.listeSujet h4{
  margin: 5px 0px 5px 0px;
}

.listeSujet .desc{
  margin: 5px 0px 5px 20px;
}
.listeSujet .date{


}
.listeSujet .sujets{
  margin-bottom: 10px;
}

/*@media screen and (max-width: 1024px){
  html{
    height: 100%;
    width: 100%;
  }
  .wrapper{
    margin-top: 25pt;
  }
  footer{
    position: absolute;
    bottom: 0;
  }*/
  .creer_sujet{
    border: 1px solid white;
    border-radius: 2px;
    height: auto;
    width: auto;
  }

  .creer_sujet h2{
    background-color: white;
    color: black;
    font-size: 15px;
  }

  .entete{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 20px;
    margin-bottom: 20px;
  }

@media screen and (max-width: 1024px){

  html{
    height: 100%;
  }
  body{
      min-height: 100%;
    }

    footer{
      position: absolute;
      bottom: 0;
    }

    .listeSujet{
      position: absolute;
      bottom: 50%;
      left :15%;
    }

}

.admin{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.creer_sujet{
  border: 1px solid white;
  border-radius: 2px;
  height: auto;
  width: auto;
  background-color: white;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
}

.creer_sujet:hover{
  border: 1px solid red;
  background-color: red;
  border-radius: 5px;
  
}
