*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
  background: linear-gradient(to bottom, rgba(0,0,0,.6), rgba(0,0,0,.3)), url("../../Ressources/escaladeCover.jpg") center no-repeat fixed ;
	background-size: cover;
	scroll-behavior: smooth;
}


a{
	text-decoration: none;
	color: #eee;
}

header{
	width: 100%;
	position: relative;
  overflow: hidden;


}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.brand{
	font-size: 3rem;
	font-weight: 300;


}


nav ul{
	display: flex;
}

nav ul li{
	list-style: none;


}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #d66b0b;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

.hamburger{
  margin: 0 0 0 0;
  font-size:40px;
  display: none;

}

#toggle{
  display: none;
}


	/*.menu-toggle{
		display: block;
	}


	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}

  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
*/

/*****************************************************************************************************************/
/*****************************************************FIN NAV*****************************************************/
/*****************************************************************************************************************/

/*****************************************************************************************************************/
/*****************************************************DEBUT BOUTON SCROLL*****************************************/
/*****************************************************************************************************************/
.box{
	position: absolute;
	right: 5%;
	transform: translate(-100%,-100%);
}

.box span
{
	display: block;
	width:20px;
	height: 20px;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
	transform: rotate(225deg);
	animation: animate 2s infinite;

}
.box span:nth-child(1){
	animation-delay: -.2s;
}
.box span:nth-child(2){
	animation-delay: -.4s;
}
.box span:nth-child(3){
	animation-delay: -.6s;
}



@keyframes animate
{
	0%
	{
			opacity:0%;
			transform: rotate(225deg) translate(-20%,-20%);
	}
	50%
	{
			opacity:50%;
	}
	100%
	{
			opacity:100%;
			transform: rotate(225deg) translate(20%,20%);
	}
}
/*****************************************************************************************************************/
/*****************************************************FIN BOUTON SCROLL*****************************************/
/*****************************************************************************************************************/

/* Main Footer */

footer .main-footer{
	padding: 20px 0;	background: #252525;
}
footer ul{
	padding-left: 0;	list-style: none;
}

/* Copy Right Footer */
.footer-copyright {
		background: #222;	padding: 5px 0;
	}
.footer-copyright .logo {
	display: inherit;
}
.footer-copyright nav {
	 float: right;    margin-top: 5px;
 }
.footer-copyright nav ul {
	list-style: none;	margin: 0;	padding: 0;
}
.footer-copyright nav ul li {
	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;
}
.footer-copyright nav ul li a{
		color: #969696;
	}
.footer-copyright nav ul li:first-child {
		border: medium none;	padding-left: 0;
	}
.footer-copyright p {
	color: #969696;	margin: 2px 0 0;
}

/* Footer Top */
.footer-top{
	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;
}

footer{
	font-size: 15px;
}
/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{
	background: transparent;
}
footer.transparent .footer-copyright{
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;
	}

/* Footer light */
footer.light .footer-top{
		background: #f9f9f9;
	}
footer.light .main-footer{
	background: #f9f9f9;
}
footer.light .footer-copyright{
		background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;
	}

/* Footer 4 */
.footer- .logo {
	display: inline-block;
}

/*====================
	Widgets
====================== */
.widget{
	padding: 20px;	margin-bottom: 40px;
}
.widget.widget-last{
	margin-bottom: 0px;
}
.widget.no-box{
	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{
		margin-bottom: 18px;
	}
.widget li a{
	color: #ff8d1e;
}
.widget li a:hover{
	color: #4b92dc;
}
.widget-title {
	margin-bottom: 20px;
}
.widget-title span {
	background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;
}
.widget-title span::after {
	background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;
}
.widget-title.text-center span,.widget-title.text-center span::after {
	margin-left: auto;margin-right:auto;left: 0;right: 0;
}
.widget .badge{
	float: right;	background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{
	color: #fff;
}

.row{
	display: flex;
}

#divFooter{
	margin-right: 5%;
}
ul.social-footer2 {
		margin: 0;padding: 0;	width: auto;
	}
ul.social-footer2 li {
	display: inline-block;padding: 0;
}
ul.social-footer2 li a:hover {
	background-color:#ff8d1e;
}
ul.social-footer2 li a {
	display: block;	height:30px;width: 30px;text-align: center;
}
.btn{
	background-color: #8e8a89 ;
	color:#FFF ;
	width: 100px;
	border-radius: 10px;
	margin-top: 5px;
	padding: 5px;
}
.btn:hover, .btn:focus, .btn.active {
	background: #4b92dc;color:  #000 ;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;
}

.pNul{
	margin-bottom: 15px;
}


@media screen and (max-width: 1024px){
	header{
		min-height: 500px;
		position: absolute;
		top:0%;
		z-index: 5;
	}

	.box a {
    display: none;
  }
	.hamburger{
    display: block;
    cursor: pointer;
		background-color: rgb(255,120,0,0.8);

  }
	nav{
		display : block;
	}

	nav ul {
		display: block;
	}

	nav ul li a::before,
	nav ul li a::after{
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: black;
		left: 0;
		transform: scaleX(0);
		transition: all .5s;
	}

  #menu{
      text-align:center;
      width: 110%;
      display:none;
  }

  #menu a{
    display: block;
    margin:auto;
		color: black;
  }
	#menu a img{
		width: 10%;
		height: 5%;
	}

  #toggle:checked + #menu{
    display: block;
		background-color: rgb(255,120,0,0.8);
  }

	footer{
		font-size: 10px;
	}
}

.reussite{
	background-color: lightgreen;
  border: 4px solid green;
  border-radius: 5px;
  color: black;
  font-size: 15px;
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
	text-align: center;

}

.erreur{
  background-color: tomato;
  border: 4px solid red;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
  text-align: center;

}
