@import url('https://fonts.googleapis.com/css?family=Roboto');
body{

  background : url('../../Ressources/escaladeCover.jpg') no-repeat fixed;
  background-size: cover;


}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto',sans-serif;
}

/*Header*/

header .LogoTitre{
  display: flex;
  justify-content: space-between;

}
header img {
  height: 100px;
  width: 100px;

}
header h1{
  margin-right:42.5%;
  padding:0%;
  padding-top:25px;

}
header{
background-color : rgba(72,74,92,0.8);

}
header,ul {
  list-style-type: none;
  padding: 0;
  margin:0%;
  overflow: hidden;
  height: 100%;
  width:100%;
  position: sticky;
  top: 0px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

section{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

}


.wrapper{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  width: 100%;
  padding:0 20px;

}

.contact-form{
  max-width: 75%;
  margin: 0 auto;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow : 0 0 10px rgba(0,0,0,0.13);


}
.input-fields .message{
  display: flex;
  flex-direction: column;
  margin-right:10%;
}

form{
  display: flex;
}



.input, .message{
  margin: 10px 0;
  background: transparent;
  border:0;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color : #c5ecfd;
  width: 100%;
}

label,p{
  color : #c5ecfd
}
.message textarea{
  height:212px;
}

::-webkit-input-placeholder{
  color : #c5ecfd;
}
::-moz-input-placeholder{
  color : #c5ecfd;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: WhiteSmoke;
  color:black;
}

textarea{
  resize: none;
}
