.forum{

  width: 60%;
  margin: auto;
  background: rgba(255,120,0,0.7);
  box-shadow : 0 0 10px rgba(0,0,0,0.13);
  padding: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
  color:#c5ecfd;


}
.forum .sujet h2{
  font-size: 2em;
}
.forum .sujet p{
font-size: 1.2em;
}
.forum .commentaires{
  border : 1px solid #c5ecfd;


}
.forum .commentaires .contenu{
  


}
