.forum{

  width: 80%;
  margin: auto;
  background: rgba(228, 88, 7, 0.651);
  box-shadow : 0 0 10px rgba(0,0,0,0.13);
  padding: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
  color: white;


}

.sujet{
  margin-bottom: 10px;
}
.forum .sujet h2{
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 50px;
}
.forum .sujet p{
font-size: 1.2em;
}
.forum .commentaires{
  border : 1px solid #c5ecfd;
  margin-bottom: 10px;

}

.contenu{
  font-size: 25px;
  padding-left: 20px;

}

.flexcomm{
  display: flex;
  flex-direction: row;
}

.entete{
  border-right: 1px solid white;
  width: 10%;
  font-size: 12px;
  
}

label{
  font-size: 20px;
}

